.nav-details {
  background-color: #40534C;


}

#home {
  position: relative;
  background-image: url('https://s2.glbimg.com/DpqDjv3EDbxJ0d--v4nd8-RyzL4=/780x440/e.glbimg.com/og/ed/f/original/2021/01/11/flat_house_oskar_proctor.jpg');
  color: green;
  padding: 60px;

}


#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#home>* {
  position: relative;
  z-index: 2;
}

header {
  background-color: green;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-link {
  color: #000000;
  margin: 25px;
  font-size: 20px;
}


.nav-link:hover {
  color: #c9d6ca !important;
  text-decoration: underline;
}


main {
  padding: 60px;
  text-align: center;
}

.btn {
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-outline-secondary {
  border: 4px solid #d0d0d0;
  color: rgb(6, 131, 6);
}


.album.bg-light {
  padding: 40px;
  color: rgb(88, 87, 87);
}

.section-title h1 {
  text-align: center;
  font-size: 2rem;
  color: #c6d8c2;
}

.section-subtitle p {

  font-size: 1.125rem;
  color: #40534C;
}

.section-description {
  background-color: #a0d4ab;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

pre {
  background-color: #dad0d0;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

footer {
  background-color: #7b917b;
  color: #000000;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 10px 0;
  color: #1A3636;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


.btn-outline-secondary:hover {
  background-color: green;
  color: #fff0f0;
}

section {
  transition: background-color 0.3s ease;

}

section:hover {
  background-color: green;

}
